# Custom rules

examples/**/android/
examples/**/ios/
examples/**/linux/
examples/**/macos/
examples/**/web/
examples/**/windows/
examples/**/test/
examples/**/pubspec.lock
examples/**/build/

packages/**/example/android/
packages/**/example/ios/
packages/**/example/linux/
packages/**/example/macos/
packages/**/example/web/
packages/**/example/windows/
packages/**/example/test/
packages/**/example/build/
packages/**/example/pubspec.lock

pacakges/jolt/extensions/devtools/build
packages/jolt_devtools_extension/example

devtools_options.yaml
.fvmrc

*_prompt.md

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

/web
.metadata

# FVM Version Cache
.fvm/