name: _
publish_to: none

repository: https://github.com/vowdemon/jolt

environment:
  sdk: ">=3.6.0 <4.0.0"

workspace:
  - packages/jolt
  - packages/jolt_flutter
  - packages/jolt_hooks
  - packages/jolt_surge
  - packages/jolt_hooks/example
  - packages/jolt_surge/example

dev_dependencies:
  melos: ^7.3.0

melos:
  ide:
    intellij:
      enabled: false
  command:
    bootstrap:
      environment:
        sdk: ">=3.6.0 <4.0.0"

      dependencies:
        meta: ^1.0.0
      dev_dependencies:
        test: any

    version:
      branch: main
      releaseUrl: true
      includeCommitId: true
      linkToCommits: true

  scripts:
    analyze:
      run: melos exec -c 3 -- flutter analyze
    test:select:
      run: melos exec -c 1 -- flutter test --coverage
      packageFilters:
        dirExists: test
      description: Run `flutter test` for selected packages.

    test:
      run: melos run test:select --no-select
      description: Run all Flutter tests in this project.

    coverage:combine:
      run: |
        chmod +x ./.github/scripts/merge_converage.sh
        ./.github/scripts/merge_converage.sh
