name: _
publish_to: none

repository: https://github.com/vowdemon/jolt

environment:
  sdk: ">=3.6.0 <4.0.0"

workspace:
  - packages/jolt
  - packages/jolt_flutter
  - packages/jolt_hooks
  - packages/jolt_surge
  - packages/jolt_lint
  - packages/jolt_flutter_hooks
  - packages/jolt_hooks/example
  - packages/jolt_surge/example
  - packages/jolt_lint/example

dev_dependencies:
  melos: ^7.3.0

melos:
  categories:
    examples:
      - examples/*
  ide:
    intellij:
      enabled: false
  command:
    bootstrap:
      dependencies:
        meta: ^1.0.0

    version:
      branch: main
      releaseUrl: true
      includeCommitId: true
      linkToCommits: true

  scripts:
    test:select:
      run: melos exec -c 1 -- flutter test --coverage
      packageFilters:
        dirExists: test
      description: Run `flutter test` for selected packages.
    coverage:combine:
      run: |
        chmod +x ./.github/scripts/merge_coverage.sh
        ./.github/scripts/merge_coverage.sh
    coverage:
      run: |
        melos run test
        genhtml coverage/combined.info -o coverage/html
    analyze:
      run: melos exec -c 1 -- flutter analyze
    test:
      run: |
        melos run test:select --no-select
        melos run coverage:combine
      description: Run all Flutter tests in this project.
    update:version:
      run: melos version --no-published --no-private --no-git-commit-version
