name: Release Tags
on:
  workflow_dispatch:

jobs:
  publish-packages:
    name: Create tags for release
    permissions:
      actions: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/prepare
      - name: Create tags
        run: |
          melos exec -c 1 --no-published --no-private -- git tag \$MELOS_PACKAGE_NAME-v\$MELOS_PACKAGE_VERSION
          git push --tags
      - name: Publish release packages
        run: |
          melos exec -c 1 --no-published --no-private --order-dependents -- \
          gh workflow run publish-release.yml \
          --ref \$MELOS_PACKAGE_NAME-v\$MELOS_PACKAGE_VERSION \
          -f package_name=\$MELOS_PACKAGE_NAME
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
