name: Release Packages
on:
  # Enable to also publish, when pushing a tag
  #push:
  #  tags:
  #    - '*'
  workflow_dispatch:
    inputs:
      package_name:
        description: "Package name to publish"
        required: false
        type: string

jobs:
  publish-release-packages:
    name: Publish release packages
    permissions:
      contents: write
      id-token: write # Required for authentication using OIDC
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ./.github/actions/prepare
      - name: Build Jolt DevTools Extension
        if: inputs.package_name == 'jolt'
        run: ./packages/jolt_devtools_extension/build_extension.sh
        shell: bash
      - uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
      - name: Melos publish
        run: melos publish -y --no-dry-run --scope=${{ inputs.package_name }}
        shell: bash
